<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>

  <h1>
    <%= title %>
  </h1>
  <p>Welcome to <%= title %>
  </p>

  <a href="/">Home</a>
  <h3>JSON de Productos (pto 5 de practica):</h3>
  <!-- Muestra los productos JSON convertidos a string-->
  <pre><%= JSON.stringify(products, null, 2) %></pre>
</body>

</html>