<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nodepop</title>
    <link rel="stylesheet" href="homeStyles.css">
</head>
<body>

    <header>
        <h1>NODEPOP</h1>
    </header>

    <main>
        <a href='/login'>Login</a>
        <a href='/homepage'>Homepage</a>
        <a href='/productos'>Productos</a>
    </main>

</body>
</html>
